.someTopRestaurantSection {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background: #fff5ec;
}
.firstDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.first {
  display: flex;
  gap: 3rem;
}
.first div {
  width: 2.5rem;
  flex-shrink: 0;
  background: #fe043c;
}
.firstDiv p {
  display: flex;
  width: 60.9rem;
  height: 14.1rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #707070;
  font-size: 1.4rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  text-transform: capitalize;
}
.first p {
  color: #2e266f;
  font-size: 4.8rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 6.2rem;
  text-transform: capitalize;
}
.foods{
  display: flex;
  align-items: center;
  padding-top: 5rem;
  flex-wrap: wrap;
}