/* someTopRestaurantSection */

.someTopRestaurantSection {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background: #fff5ec;
}
.firstDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.first {
  display: flex;
  gap: 3rem;
}
.first div {
  width: 2.5rem;
  flex-shrink: 0;
  background: #fe043c;
}
.firstDiv p {
  display: flex;
  width: 60.9rem;
  height: 14.1rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #707070;
  font-size: 1.4rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  text-transform: capitalize;
}
.first p {
  color: #2e266f;
  font-size: 4.8rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 6.2rem;
  text-transform: capitalize;
}
.foods {
  display: flex;
  align-items: center;
  padding-top: 5rem;
  flex-wrap: wrap;
}

/* Booking section*/
.bookingSection {
  background: #ffedde;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.bookingMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  width: 123rem;
  height: 56rem;
  background: #fff;
}
.bookingLeftLettuce {
  width: 30%;
  height: 100%;
}
.bookingRightLettuce {
  width: 20%;
  height: 100%;
}
.bookingRedDiv {
  width: 23rem;
  height: 1.5rem;
  flex-shrink: 0;
  background: #fe043c;
}
.bookingMainTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #2e266f;
  font-size: 3.6rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  text-transform: lowercase;
}
.bookingInputDiv {
  position: relative;
  background: #fff;
  box-shadow: 2px 2px 30px 2px #fff5ec;
}
.bookingInputDiv input {
  outline: none;
  width: 54.4rem;
  height: 9rem;
  padding: 4rem;
  flex-shrink: 0;
  color: #2e266f;
  font-size: 1.6rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  text-transform: lowercase;
  border: none;
}
.bookingInputDiv button {
  left: 68%;
  top: 7%;
  position: absolute;
  padding: 2rem 6rem;
  flex-shrink: 0;
  background: #fe043c;
  flex-shrink: 0;
  color: #fff;
  font-size: 3rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
}

/* Foods section*/
.foodsSection {
  padding-top: 10rem;
  background: #fff5ec;
  padding-bottom: 10rem;
}
.foodsMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.foodsMain h2 {
  color: #2e266f;
  font-size: 4.8rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 6.2rem;
  text-transform: capitalize;
}
.foodsMain p {
  width: 60.9rem;
  height: 6.5rem;
  color: #707070;
  text-align: center;
  font-size: 1.4rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  text-transform: capitalize;
}
.foodCardContainer {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Foods section*/
.downloadSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #ffedde;
}
.downloadSectionLeft {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.downloadSectionLeft .p {
  color: #707070;
  font-size: 1.4rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  text-transform: capitalize;
  display: flex;
  width: 44.9rem;
  height: 7.1rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.downloadSectionRightMain {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.downloadSectionRightMain div {
  width: 2.5rem;
  height: 14rem;
  flex-shrink: 0;
  background: #fe043c;
}
.downloadSectionRightMain h2 {
  color: #2e266f;
  font-size: 4.8rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 6.2rem;
  text-transform: capitalize;
  display: flex;
  width: 47.5rem;
  height: 12.2rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.downloadSectionLeft {
  position: relative;
}
.downloadSectionLeft img {
  position: absolute;
}
.downloadSectionLeftPhone {
  z-index: 2;
  width: 45.3rem;
  height: 74.4rem;
  flex-shrink: 0;
}
.downloadSectionLeftLettuce {
  width: 37.7rem;
  height: 38.7rem;
  left: 0;
  transform: translate(-100px, 50px);
  flex-shrink: 0;
}
.downloadSectionDownloadContainer {
  margin-top: 3rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap:2rem;
}
.downloadSectionDownload {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap:2rem;
  flex-shrink: 0;
  padding: .5rem 2rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: #000;
}
.downloadSectionMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.downloadSectionMainFirst {
  color: #FFF;
  font-size: 1.2rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  text-transform: capitalize;
}
.downloadSectionMainLast {
  color: #FFF;
  font-size: 1.8rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  text-transform: capitalize;
}
